namespace="local_ns~"
riakhost="http://localhost:8098/"
apihost="http://localhost:9292/"

inputfile="users.txt"
mwrites=10
mreads=1

#Constants
emailconstant="USEREMAIL"
uidconstant="USERID"
nameconstant="FULLNAME"
authtokenconstant="AUTHTOKEN"
weightconstant="WEIGHT"
timestampconstant="TIMESTAMP"
namespaceconstant="NAMESPACE"
riakhostconstant="RIAKHOST"
apihostconstant="APIHOST"